In [1]:
import numpy as np
import pandas as pd
from wrangle import wrangle_zillow

In [2]:
zillow=wrangle_zillow()
zillow.head()

,bedroom_count,bathroom_count,calc_finished_square_ft,tax_value_dollar_count,year_built,tax_amount,fips_code
0,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0
1,3.0,4.0,1620.0,847770.0,2011.0,10244.94,6037.0
2,3.0,2.0,2077.0,646760.0,1926.0,7924.68,6037.0
3,0.0,0.0,1200.0,5328.0,1972.0,91.60,6037.0
4,0.0,0.0,171.0,6920.0,1973.0,255.17,6037.0

In [3]:
zillow.isnull().sum()

bedroom_count              0
bathroom_count             0
calc_finished_square_ft    0
tax_value_dollar_count     0
year_built                 0
tax_amount                 0
fips_code                  0
dtype: int64