In [4]:
import numpy as np
import pandas as pd
from wrangle import wrangle_zillow
from wrangle import tts_con

In [2]:
zillow=wrangle_zillow()
zillow.head()

,bedroom_count,bathroom_count,calc_finished_square_ft,tax_value_dollar_count,year_built,tax_amount,fips_code
0,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0
1,3.0,4.0,1620.0,847770.0,2011.0,10244.94,6037.0
2,3.0,2.0,2077.0,646760.0,1926.0,7924.68,6037.0
3,0.0,0.0,1200.0,5328.0,1972.0,91.60,6037.0
4,0.0,0.0,171.0,6920.0,1973.0,255.17,6037.0

In [3]:
zillow.isnull().sum()

bedroom_count              0
bathroom_count             0
calc_finished_square_ft    0
tax_value_dollar_count     0
year_built                 0
tax_amount                 0
fips_code                  0
dtype: int64

In [10]:
train, val, test=tts_con(zillow)

In [11]:
train

,bedroom_count,bathroom_count,calc_finished_square_ft,tax_value_dollar_count,year_built,tax_amount,fips_code
397724,3.0,1.0,944.0,45645.0,1947.0,649.26,6037.0
53881,3.0,1.5,1120.0,106131.0,1971.0,1184.34,6111.0
1332703,3.0,2.0,1164.0,59801.0,1949.0,619.03,6037.0
945220,4.0,3.0,1805.0,226434.0,1923.0,2814.26,6037.0
425006,3.0,1.5,2001.0,628124.0,1932.0,7074.72,6059.0
...,...,...,...,...,...,...,...
1353116,3.0,2.0,2490.0,513000.0,1907.0,6351.67,6037.0
288533,3.0,2.0,950.0,198681.0,2001.0,2665.23,6037.0
1212299,3.0,2.0,1711.0,64358.0,1956.0,998.76,6037.0
389350,4.0,2.0,1615.0,389320.0,1923.0,4699.62,6037.0
1550396,4.0,3.0,2397.0,600654.0,1988.0,6878.30,6059.0